* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

html {
    font-size: 62.5%;
}

@media(max-width: 998px) {
    html {
        font-size: 55%;
    }
}

@media(max-width: 768px) {
    html {
        font-size: 45%;
    }
}

.main_container {
    background: rgb(241, 242, 238);
    opacity: 1;
    height: inherit;
    display: flex;
    background-image: linear-gradient(to right, rgb(186, 196, 169), rgb(200, 0, 255), rgb(21, 221, 232), rgb(199, 150, 150));
}

.inner_container {
    border: rgb(19, 107, 175) solid 6px;
    border-radius: 10rem;
    opacity: 0.2;
    margin: auto;
    padding: 4rem;
    width: 50%;
    height: 50%;
    background-image: linear-gradient(to right, rgb(186, 196, 169), rgb(200, 0, 255), rgb(184, 207, 186), rgb(199, 150, 150));
    font-size: 3rem;
    font-family: "Pangolin", cursive;
    color: rgb(0, 56, 209);
    cursor: pointer;
    height: fit-content;
}

.inner_container:hover {
    opacity: 2;
}

.box {
    margin-bottom: 5rem;
    width: 100%;
    font-size: 3rem;
}

.button_ {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
    width: fit-content;
    margin: auto;
    justify-content: center;
    font-size: 100%;
}

button {
    cursor: pointer;
    border-radius: 2rem;
    height: 100%;
    width: 100%;
    background-color: rgb(17, 164, 193);
    padding: 1rem;
    font-family: "Pangolin", cursive;
}

button:hover {
    background-color: rgb(202, 207, 137);
}

.twitter {
    height: 10rem;
    width: 5rem;
    margin: auto;
}

.comma {
    height: 10rem;
    width: 5rem;
    opacity: 0.9;
}